{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
   <distro_name op="=" value="RHEL5-Server-U11"/>
   <distro_arch op="=" value="x86_64"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{% set repos %}
    <repo name="myrepo_0" url="http://rhsm-pulp.corp.redhat.com/content/els/rhel/server/5/5Server/{{ ARCH }}/os"/>
{% endset %}
{% set host_requires %}
  <and>
    <cpu_count op="=" value="1"/>
    <hypervisor op="=" value=""/>
  </and>
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append) -}}
