{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux9"/>
  {% if VARIABLES.ystream_distro %}
    <distro_name op="=" value="{{ VARIABLES.ystream_distro }}"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
  <ks_append><![CDATA[
%post
# Enable RHEL9 Buildroot for test dependencies
cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
[BUILDROOT-9]
name=BUILDROOT-9
{% if VARIABLES.ystream_buildroot %}
baseurl={{ VARIABLES.ystream_buildroot }}/{{ ARCH }}/os/
{% else %}
baseurl=http://download.hosts.prod.upshift.rdu2.redhat.com/rhel-9/nightly/BUILDROOT-9/latest-BUILDROOT-9.0.0/compose/Buildroot/{{ ARCH }}/os/
{% endif %}
enabled=1
gpgcheck=0
EOF
# Add Weekly rebase VIRT repo, required for virt tests
cat >/etc/yum.repos.d/virt-weeklyrebase.repo <<EOF
[virt-weeklyrebase]
name=virt-weeklyrebase
baseurl=http://batcave.lab.eng.brq.redhat.com/repos/test/weekly-latest/$(uname -i)/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{% set host_requires %}
  {# NOTE(rasibley): Force it to our dedicated s390x nodes which support RHEL9 #}
  {% if ARCH == "s390x" %}
    <or>
      <hostname op="like" value="kernelci%s390%"/>
    </or>
  {% endif %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for rhel9 and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
        {# NOTE(rasibley): Exclude ThunderX (cn88xx) systems which are unsupported in rhel9 #}
        <hostname op="like" value="penguin-valkre%"/>
        <hostname op="like" value="gigabyte-r120%"/>
        <hostname op="like" value="gigabyte-r270%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
{{- common.job(distro_requires=distro_requires, ks_append=ks_append,
               host_requires=host_requires, kcov_rhel_xy="90") -}}
