{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  {% if VARIABLES.ystream_distro %}
    <distro_name op="=" value="{{ VARIABLES.ystream_distro }}"/>
  {% else %}
    <distro_tag op="=" value="RTT_PASSED"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
{% endset %}
{{- common.job(distro_requires=distro_requires,
               ks_append=ks_append) -}}
