{% include "host_types/normal.host_requires.xml.j2" %}
<cpu>
    <and>
        <model op="&gt;=" value="5111808"/>
        <model op="&lt;=" value="5177343"/>
    </and>
</cpu>
<system>
    <hypervisor op="==" value="PowerVM"/>
</system>
