{% if TREE.startswith("rhel") %}
  <task name="/kernel/kdump/setup-nfsdump" role="STANDALONE">
    <fetch url="git://git.host.prod.eng.bos.redhat.com/kernel-tests#kdump/setup-nfsdump"/>
    <params>
      <param name="NFSSERVER" value="kdump.usersys.redhat.com"/>
      <param name="VMCOREPATH" value="/var/www/html/vmcore"/>
      <param name="WEBSERVERBASEURL" value="http://kdump.usersys.redhat.com/vmcore"/>
    </params>
  </task>
{% endif %}
